:root {
	--clr-txt: black;
	--clr-bg: white;
	--clr-bg-li: rgb(from var(--clr-bg) calc(r - 15) calc(g - 15) calc(b - 15));
}
* {
	line-height: 1.5;
}
html, body {
	color: var(--clr-txt);
	background: var(--clr-bg);
	color-scheme: light dark;
}
ul, li, menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
menu {
	display: flex;
	gap: .5rem;
	justify-content: space-evenly;
	align-items: center;
}
ul li {
	text-align: center;
	background: var(--clr-bg-li);
	border-bottom: .25ch var(--clr-txt) solid;
}
ul li:nth-child(1) {
	border-top: .5ch var(--clr-txt) solid;
}
h1, #hero p, h2, h3, #author, footer {
	text-align: center;
}
#top-logo {
	width: fit-content;
	margin-inline: auto;
}
#hero h1 {
	margin: 1rem auto 0;
}
#hero p {
	margin: 0 auto 1rem;
}
svg {
	background: #dcdcdc;
	width: 1rem;
	aspect-ratio: 1;
	place-self: center;
}
nav > * {
	margin-inline: auto;
}

@supports (display: grid) {
	#top-logo { display: grid; }
	@media (width > 27rem) and (height > 20rem) {
		nav, #hero, .split-columns { display: grid; }
		nav {
			grid-template-columns: 5.5rem 3rem 1fr;
			align-items: center;
		}
		#pages {
			margin-inline: auto 1rem;
		}
		#hero {
			height: min(18ch, 25vmin);
		}
		#hero {
			place-items: center;			
		}
		h2 {
			text-align: start;
		}
		ul li {
			width: min(20ch, 80%);
			text-align: start;
			margin-inline: auto;
			background: initial;
		}
		ul li:nth-child(1) {
			border-top-width: 0;
		}
		#hero > * {
			margin: .5rem 0;
		}
		.split-columns {
			grid-template-columns: repeat(3, 1fr);
		}
		.split-columns > * {
			border: .5ch var(--clr-txt) solid;
			padding: 1ch 2rem;
		}
		.split:nth-child(1),
		.split:nth-child(3) {
			border-left-color: transparent;
			border-right-color: transparent;
		}
	}
}

@media(prefers-color-scheme: dark) {
:root {
--clr-txt: white;
--clr-bg: black;
  }
}
