:root {
	--clr-txt: black;
	--clr-bg: white;
}

html, body {
	color: var(--clr-txt);
	background: var(--clr-bg);
	color-scheme: light dark;
}
ul, li, menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
menu {
	display: flex;
	gap: .5rem;
	justify-content: space-evenly;
	align-items: center;
}

h1, #hero p, h2, h3, #author, footer {
	text-align: center;
}
#top-logo {
	width: fit-content;
	margin-inline: auto;
	display: grid;
}
svg {
	width: 1rem;
	aspect-ratio: 1;
	place-self: center;
}
nav > * {
	margin-inline: auto;
}

@media(prefers-color-scheme: dark) {
:root {
--clr-txt: white;
--clr-bg: black;
  }
}
